@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: var(--Magnolia);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background: var(--White);
    width: 900px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
}

.components {
    display: flex;
    padding: .8rem;
}

.form-steps {
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 520px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
    border-radius: 10px;
}

.form-steps .steps {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.steps .steps-number {
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid var(--White);
    text-align: center;
    color: var(--White);
    padding: 10px;
    font-weight: 700;
}

.form-steps .active {
    background-color: var(--Light-blue);
    color: var(--Marine-blue);
}

.steps span h6 {
    color: var(--Cool-gray);
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.steps span p {
    color: var(--White);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.stp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 4rem;
}

.stp .header {
    margin-bottom: auto;
    padding-top: 2rem;
    line-height: 2.5rem;
}

.header h1 {
    color: var(--Marine-blue);
    font-size: 2rem;
}

.header p {
    color: var(--Cool-gray);
    font-weight: 400;
}

.next-btn {
    margin-top: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    padding: .9rem 1.3rem;
    border-radius: 7px;
    background-color: var(--Marine-blue);
    color: white;
    cursor: pointer;
    text-transform: capitalize;
}

.next-btn:hover {
    background: var(--Purplish-blue);
}

/* step 1 style rules */
.step-1 {
    display: flex;
    width: 90%;
}

.step-1 form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 60px;
}

.form-box {
    display: flex;
    flex-direction: column;
}

.form-box label {
    text-transform: capitalize;
    color: var(--Marine-blue);
    font-weight: 700;
    margin-bottom: 8px;
}

.form-box input {
    border: 1px solid var(--Light-grayish-violet);
    border-radius: 6px;
    padding: .8rem;
    border: 1px solid var(--Cool-gray);
    font-weight: 500;
    color: var(--Marine-blue);
}

.form-box input:focus {
    outline-color: var(--Purplish-blue);
}

.form-box input::placeholder {
    font-weight: 500;
    font-family: inherit;
    color: var(--Cool-gray);
}

.form-box .errText {
    color: var(--Strawberry-red);
    margin-top: 8px;
}

/* step 2 style rules */
.step-2 {
    display: none;
    width: 90%;
}

.plan-options {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30px;
}

.plan-card {
    border: 2px solid var(--Light-gray);
    border-radius: 6px;
    width: 150px;
    height: 170px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.plan-card:hover {
    border: 1px solid var(--Marine-blue);
}

.selected {
    background: var(--Magnolia);
    border: 1px solid var(--Purplish-blue);
}

.plan-info {
    display: flex;
    flex-direction: column;
    gap: .3rem; 
}

.plan-info b {
    color: var(--Marine-blue);
}

.plan-info p {
    color: var(--Cool-gray);
}

.plan-info .free {
    color: var(--Marine-blue);
    font-weight: 400;
    display: none;
}

.plan-toggle {
    height: 40px;
    background: var(--Magnolia);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 70px;
    border-radius: 5px;
}

.monthly,
.yearly {
  color: var(--Cool-gray);
  font-weight: 500;
}

.sw-active {
    color: var(--Marine-blue);
}

.switch {
    position: relative;
    width: 85px;
    height: 35px;
    background: var(--Marine-blue);
    border-radius: 100px;
    cursor: pointer;   
}

.switch::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background: var(--White);
    border-radius: 50%;
    top: 50%;  
    left: 4px;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
}

.switch.active::before {
    background: var(--White);
    left: calc(100% - 30px - 4px);
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prev-btn {
    margin-top: auto;
    margin-bottom: 1rem;
    font-weight: 700;
    background-color: transparent;
    padding: .9rem 1.3rem;
    border-radius: 7px;
    color: var(--Cool-gray);
    text-transform: capitalize;
    cursor: pointer;
}

.prev-btn:hover {
    color: var(--Marine-blue);
}

.step-3 {
    display: none;
    width: 80%;
}

.addons-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 1.3rem;
    margin-bottom: 50px;
}

.box {
    border: 1px solid var(--Cool-gray);
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box input {
    accent-color: var(--Purplish-blue);
    transform: scale(1.5);
    -webkit-user-select: none;
    user-select: none;
}

.add-ons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 15px;
}

.add-ons label {
    color: var(--Marine-blue);
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
}

.add-ons small {
    color: var(--Cool-gray);
    font-weight: 500;
    font-size: .9rem;
}

.price {
    margin-left: auto;
    color: var(--Purplish-blue);
    font-weight: 500;
}

.selected-add {
    border: 1px solid var(--Purplish-blue);
    background: var(--Magnolia);
}

/* step 4 style rules */
.step-4 {
    display: none;
    width: 80%;
}

.selected-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-bottom: 50px;
}

.selected-container {
    background-color: var(--Magnolia);
    padding: 1.5rem;
}

.selected-container hr {
    width: 100%;
    background-color: var(--Cool-gray);
    height: 1px;
}

.selected-plan {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    color: var(--Marine-blue);
    font-weight: 700;
}

.selected-addons {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    color: var(--Cool-gray);
    font-weight: 500;
    font-size: .9rem;
}

.selected-addons .service-price {
    color: var(--Marine-blue);
}

.total {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Cool-gray); 
}

.total b {
    color: var(--Purplish-blue);
    font-size: 1.2rem;
}

.step-4 .next-btn {
    background: var(--Purplish-blue);
}

/* step 5 style rules */
.step-5 {
    display: none;
    align-items: center;
    width: 90%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.step-5 img {
    margin-bottom: 40px;
    transform: scale(1.5);
}

.step-5 h1 {
    color: var(--Marine-blue);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.step-5 p {
    color: var(--Cool-gray);
    font-weight: 400;
}

/* tablet media query */
@media (min-width: 720px) and (max-width: 998px) {
    .container {
        width: 95%;
    }

    .components {
        padding: .6rem;
    }

    .form-steps {
        height: 550px;
        width: 60%;
    }

    .stp {
        padding: 0rem 2.5rem;
    }

    .stp .header {
        margin-bottom: 30px;
    }

    .header p {
        line-height: 1.5rem;
    }

    .plan-card {
        width: 120px;
        gap: 0rem;
    }

    .plan-toggle {
        margin-bottom: 120px;
    }
}


/* phone media query */
@media (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        box-shadow: none;
        background-color: var(--Magnolia);
    }

    .components {
        flex-direction: column;
        padding: 0rem;
        position: relative;
    }

    .form-steps {
        background-image: url(assets/images/bg-sidebar-mobile.svg);
        width: 100%;
        height: 100%;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        padding: 2.5rem 3rem 7rem;
        border-radius: 0px;
    }

    .steps span {
        display: none;
    }

    .stp {
        position: absolute;
        top: 60%;
        left: 5%;
        padding: 0rem 1.8rem;
        background-color: var(--White);
        border-radius: 10px;
    }

    .stp .header {
        margin-bottom: 20px;
        line-height: 3rem;
        padding-top: 1rem;
    }

    .header p {
        line-height: 1.5rem;
    }

    .step-1 form {
        gap: 1rem;
        margin-bottom: 25px;
    }

    .btns {
        position: absolute;
        bottom: -9.3rem;
        right: 0rem;
        background-color: var(--White);
        width: 100%;
        height: 85px;
    }

    .next-btn {
        position: absolute;
        top: 1.3rem;
        right: .5rem;
        padding: 1rem 1.5rem;
    }

    .plan-options {
        flex-direction: column;
        width: 100%;
    }

    .plan-card {
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    .plan-toggle {
        margin-bottom: 30px;
    }

    .switch {
        width: 55px;
        height: 25px;
    }

    .switch::before {
        width: 20px;
        height: 20px;
    }

    .switch.active::before {
        left: calc(100% - 20px - 4px);
    }

    .step-3 {
        width: 90%;
    }

    .addons-container {
        margin-bottom: 25px;
        gap: .8rem;
    }

    .box {
        justify-content: space-between;
    }

    .box input {
        transform:  scale(1.2);
    }

    .add-ons {
        gap: .3rem;
    }

    .add-ons label {
        letter-spacing: 0;
        font-size: .9rem;
    }

    .add-ons small {
        font-size: .7rem;
    }

    .step-4 {
        width: 90%;
    }

    .selected-box {
        margin-bottom: 0px;
    }

    .step-5 {
        padding: 3rem 2rem;
    }

    .step-5 img {
        margin-bottom: 40px;
        transform: scale(1.3);
    }
}

@media (max-width: 380px) {
    .header h1 {
        font-size: 1.5rem;
    }

    .add-ons label {
        font-size: .7rem;
    }

    .add-ons small {
        font-size: .5rem;
    }

    .total {
        font-size: 1rem;
        gap: .5rem;
        padding: 1rem .7rem;
    }
}

